.channel(layout='column')
  section(layout='row' flex)
    nav.queue queue
    article(flex)
      //- plyr(source='channel.track.sources')
      .videoWrapper
        iframe(src="https://www.youtube.com/embed/dQw4w9WgXcQ" allowfullscreen)
      .title {{channel.track.title}}
    aside.users users
  .footer
