h1 Channels
.div(layout='row', layout-wrap, layout-sm='column', layout-md='column')
  .div(ng-repeat='channel in home.channels', flex='33')
    md-card.channel-card
      a(href='#/c/{{channel.slug}}')
        img.md-card-image(ng-src='{{ home.imagePath }}', alt='{{ channel.slug }}')
      md-card-content
        md-input-container(flex)
          h3 {{channel.name}}
          p {{ channel.description }}
          md-button.md-primary(ng-click='#/c/{{channel.slug}}') Join
          
md-button.md-fab.md-fab-bottom-right(aria-label='Add', ng-click='home.showAdd($event)')
  ng-md-icon(icon='add')
