.channel(layout='column')
  section(layout='row' flex)
    nav.queue queue
    article(flex)
      plyr(track-id='channel.track.id')
      .title {{channel.track.title}} {{channel.track}}
      div {{channel}}
    aside.users users
  .footer
