/* application styles */

@import 'angular-material/angular-material.css';

html,
body {
  min-height: 100%;
}

.channel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.channel-card {
  width: 360px;
}

.header {
  height: 80px;
}

.panels {
  width: 300px;
  background-color: #eee;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

md-sidenav {
  fill: #737373;
}

md-sidenav ng-md-icon {
  position: relative;
  top: 5px;
}

.md-toolbar-tools-bottom {
  font-size: small;
}

.md-toolbar-tools-bottom :last-child {
  opacity: 0.8;
}

md-tab-item span {
        padding: 15px;
        margin: -15px;
      }
